@import '../../styles/settings.scss';

nav{
  background: darken($color-dark, 3%);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.homeIco {
    margin-left: 3%;
    i{
    font-size: 2 * $base-size;
    color: $color-light;
    }
}

.menu{
    margin-right: 3%;
    font-size: 1.25 * $base-size;
    ul{
        list-style-type: none;
        margin: 0;
        li{
            display: inline-block;
            padding: 20px 15px;
            &:hover{
                background: lighten($color-dark,  10%);
            }
        }
        a{
            text-decoration: none;
            color: $color-light;
            font-weight: bold;
            &.linkActive{
                color: $color-warning;
              }
        }
    }

}


